{% extends 'base.html' %}

{% block content %}
  <h2>Delete User Profile</h2>
  <h3>Please enter username and password to confirm.</h3>
  <form method="POST" action="{{url_for('users.delete', id=id)}}?_method=DELETE">
    {{ form_login.csrf_token }}
    {% for field in form_login if field.widget.input_type != 'hidden'%}
      <p>
      {{ field.label }}
      {{ field }}
      <span>
        {% if field.errors %}
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    </p>
    {% endfor %}
    <h3>This process is not reversible.</h3>
    <button type="submit">Confirm Delete</button>
  </form>

{% endblock %}
