{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/users/users.css') }}">
  <div class="row col-xs-12">
    <div class="jumbotron col-xs-8 col-xs-offset-2 form-signup form-text form-pad">
      <div class="form-title">
        Edit Profile
      </div>
      <form method="POST" action="{{ url_for('users.show', id=id) }}?_method=PATCH">
        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type != 'hidden'%}
          <div >
            {{ field.label }}
          </div>
          <div class="form-field">
            {{ field }}
            <span>
              {% if field.errors %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </div>
        {% endfor %}
        <button class="btn button-submit" type="submit">Save Settings</button>
      </form>
      <div class="form-signup-blurb">
        Edit your profile because you are awesome!
      </div>
    </div>
  </div>
  <div class="row col-xs-12">
    <div class="delete-container">
      <a class="btn button-delete" href="{{url_for('users.delete', id=id)}}">DELETE USER</a>
    </div>
  </div>
{% endblock %}
