{% extends 'base.html' %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/users/users.css') }}">

  <div class="row col-xs-12">
    <div class="jumbotron col-xs-8 col-xs-offset-2 form-signup form-pad">
      <div class="row col-xs-12">
        <div class="col-xs-4">
          <img src="{{ user.image_url }}" alt="<User Avatar>" width=96 height=96>
        </div>
        <div class="col-xs-offset-5 form-title">
          {{ user.username }}
        </div>
      </div>
      <div class="row col-xs-12">
        <div class="col-xs-offset-5">
          {% if authorized %}
            <a class="btn button-edit" href="{{url_for('users.edit', id=id)}}">EDIT Profile</a>
            <a class="btn button-logout" href="{{url_for('users.logout', id=id)}}">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
