{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/games/styles.css') }}">

<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="game-list-title">
      <h1>Select a Game</h1>
    </div>
  </div>
  {% for game in games_list.items %}
    {% if game.resource_path %}
      <div class="row game-entry-container col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <a class="pull-left" href="{{ url_for('games.show', title=game.resource_path) }}">
                <img class="img-circle img-responsive" width=128 height=128 src="{{ url_for('static', filename='img/' + game.resource_path + '/' + game.image_url) }}" alt="<No image found>">
              </a>
              <div class="media-body">
                <!-- <h2 class="media-heading"> -->
                <div>
                  <h4>
                    <a class="game-entry-title" href="{{ url_for('games.show', title=game.resource_path) }}">
                      {{ game.title }}
                    </a>
                    {% if game.genres %}
                      {% for genre in game.genres %}
                        <span class="game-entry-genre">
                          <span class="label label-primary">
                            {{ genre.name }}
                          </span>
                        </span>
                      {% endfor %}
                    {% endif %}
                  </h4>
                </div>
                <div class="game-entry-desc">
                  {{ game.description }}
                </div>
                <div class="row game-author-container col-xs-12">
                  <div class="game-entry-author col-xs-7">
                    by: {{ game.author }}
                  </div>
                  <div class="game-entry-date col-xs-4 col-xs-offset-1">
                    Date: {{ game.submission_date}}
                  </div>
                </div>
              </div> <!-- end media body -->
            </div> <!-- end media -->
           </div> <!-- end panel body -->
        </div> <!-- end panel -->
      </div> <!-- end media row -->
    {% endif %}
  {% endfor %}
  <div class="row col-xs-10 col-xs-offset-1">
    {% if games_list.has_prev %}
      <div class="col-xs-2 col-xs-offset-2">
        <form action="{{ url_for('games.view', page=page-1) }}">
          <button type="submit">
            <span class="glyphicon glyphicon-chevron-left">PREV</span>
          </button>
        </form>
      </div>
    {% else %}
      <div class="col-xs-2 col-xs-offset-3">
      </div>
    {% endif %}
    <div class="col-xs-2 game-entry-viewing">
      {{ start }} - {{ end }}
    </div>
    {% if games_list.has_next %}
      <div class="col-xs-2">
        <form action="{{ url_for('games.view', page=page+1) }}">
          <button class="btn-nav" type="submit">
            <span class="glyphicon glyphicon-chevron-right">NEXT</span>
          </button>
        </form>
      </div>
    {% endif %}
  </div>

</div>

<!-- must handle not having any games in the list? -->

{% endblock %}
