<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dungeons!</title>
  <script src="jquery-3.2.1.js"></script>
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <div id="header_title" class="header_label">Raid Dungeon:</div>
      <div id="header_dungeonName" class="header_label">
        "name of dungeon"
      </div>
      <div id="header_gold" class="header_label">
        Gold
      </div>
    </div>
    <div class="container_canvas">
      <div class="margin_left"></div>
      <canvas id="canvas">
        <p>Your browser does not support Canvas</p>
      </canvas>
      <div class="margin_right"></div>
    </div>
    <div class="footer">
      <div id="heroInfo_1" class="heroInfo">
        Hero 1 Info
      </div>
      <div id="heroInfo_2" class="heroInfo">
        Hero 2 Info
      </div>
      <div id="heroInfo_3" class="heroInfo">
        Hero 3 Info
      </div>
      <div id="heroInfo_4" class="heroInfo">
        Hero 4 Info
      </div>
      <div id="heroInfo_5" class="heroInfo">
        Hero 5 Info
      </div>
    </div>
  </div>
  <!-- requires a simple server for testing -->
  <script src="globals.js"></script>
  <script src="unitManager.js"></script>
  <script src="unit.js"></script>
  <script src="battleground.js"></script>
  <script src="main.js"></script>
</body>
</html>
