body {
  padding-top: 50px;
  background-image: -webkit-linear-gradient(#dfdfdf 0%, #525252 100%);
  background-image: -moz-linear-gradient(#dfdfdf 0%, #525252 100%);
  background-image: -ms-linear-gradient(#dfdfdf 0%, #525252 100%);
  background-image: -o-linear-gradient(#dfdfdf 0%, #525252 100%);
  background-image: linear-gradient(top, #dfdfdf 0%, #525252 100%);
}

.title-bar {
  /*background-color: black;*/
  background-image: url("/static/img/dark_matter.png");
  background-repeat: repeat;
  /*position: fixed;
  top: 0;
  width: 100%;*/
}

.title_center {
  text-align: center;
}

.navbar {
  background: #525252;
  border-width: 0;
  box-shadow: none;
  margin-bottom: 0;
}

.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
}

.navbar-default .navbar-nav>li>a {
 color : #E1DFD9;
 font-family: verdana;
 font-size: 16px;
}

.content-container {
  padding-bottom: 15px;
}
.content-column {
  min-height: 90vh;
}

.dropdown-login {
  width: 250px;
  text-align: right;
}

.form-entry {
  text-align: right;
  margin-right: 10px;
}

.user_signup {
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-divider {
  background-color: #eb542e;
  opacity: 0.5;
  height: 3px;
}

.footer-container {
  background-image: url("/static/img/dark_matter.png");
  background-repeat: repeat;
  color: white;
  min-height: 50px;
}
