.section-container {
  /*margin-bottom: 24px;*/
  /*border: 2px solid black;
  border-style: round;
  border-radius: 4px;*/
}

.section-title {
  height: 40px;
  /*background-color: rgba(82,82,82, 0.75);*/
  text-align: center;

 /* background-image: -webkit-linear-gradient(left top, #323232 0%, #525252 80%);
  background-image: -moz-linear-gradient(bottom right, #323232 0%, #525252 80%);
  background-image: -ms-linear-gradient(to bottom right, #323232 0%, #525252 80%);
  background-image: -o-linear-gradient(bottom right, #323232 0%, #525252 80%);
  background-image: linear-gradient(to bottom right, #323232 0%, #525252 80%);
*/
  /*Top-to-bottom gradient version*/

 /* background-image: -webkit-linear-gradient(#525252 0%, #323232 100%);
  background-image: -moz-linear-gradient(#525252 0%, #323232 100%);
  background-image: -ms-linear-gradient(#525252 0%, #323232 100%);
  background-image: -o-linear-gradient(#525252 0%, #323232 100%);
  background-image: linear-gradient(top, #525252 0%, #323232 100%);
*/
}

.section-title-text {
  font-size: 32px;
  color: black;
  padding-left: 5px;
  font-family: arial;
  vertical-align: middle;
  padding-top: 3px;
}

.section-panel {
  margin-bottom: 10px;
  margin-top: 10px;
  /*background-color: lightgray;*/
}

.section-article-title {
  color: black;
  font-size: 24px;
}

.section-article-body {
  color: black;
}

.section-article-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  height:1px;
}

.section-article-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 2px solid black;

  /*background-image: -webkit-linear-gradient(left top, #323232 0%, #525252 80%);
  background-image: -moz-linear-gradient(bottom right, #323232 0%, #525252 80%);
  background-image: -ms-linear-gradient(to bottom right, #323232 0%, #525252 80%);
  background-image: -o-linear-gradient(bottom right, #323232 0%, #525252 80%);
  background-image: linear-gradient(to bottom right, #323232 0%, #525252 80%);
*/
}
